*{
    margin: 0;
    padding: 0;
}

#alumn{
    display: grid;
    background-color: bisque;
    gap: 2rem;
    font-size: 20px;
    border: 2px solid black;
    max-width: 25%;
    padding: 1rem;
    margin: 1rem;
}
